body {
	margin: 30px;
	background: #18a095;
	color: white;
}


header {
	padding: 100px;
	text-align: center;
	background: #db5561;
	font-size: 200%;
	border: solid black 4px;
	opacity: .9;
}

section {
	margin: 10px;
}
 section a {
 	display: block;
 	text-align: center;
 	text-decoration: none;
 	background: #db5561;
 	border: black solid 2px;
	margin-top: 10px;
	font-size: 180%;
	padding: 15%;
	color: white;
 }

.dasmotos:hover {
	background-image: url("../images/dasmotos.jpeg");
	background-size: cover;
}

.excursion:hover {
	background-image: url('../images/excursion.jpg');
	background-size: cover;
}

.broadway:hover {
	background-image: url('../images/broadway.png');
	background-size: cover;
}

.mytimes:hover {
	background-image: url('../images/mytimes.png');
	background-size: cover;
}

.teacozy:hover {
	background-image: url('../images/teacozy.jpg');
	background-size: cover;
}

/* section a:hover {
	opacity: .7;
} */

@media screen and (min-width: 900px) {
	section a {
	   display: inline-block;
	   width: 25%;
	   padding: 40px;
	   text-decoration: none;
	   font-size: 30px;
	   border: black solid 4px;
	   margin-right: 8px;
	   margin-top: 10px;
   }
}












