body {
	margin: 30px;
	background: #18a095;
	color: white;
}


header {
	padding: 50px;
	background: #db5561;
	font-size: 200%;
	border: solid black 4px;
}

header h1 {
	text-align: center;
}

header img {
	width: 200px;
	height: 150px;
	border-bottom: solid white 4px;
}

.images {
	display: flex;
	justify-content: center;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
	width: 100%;

}
 section a {
 	text-align: center;
 	text-decoration: none;
 	background: #db5561;
 	border: black solid 4px;
	margin-top: 10px;
	font-size: 180%;
	padding: 20px 10px;
	color: white;
 }



.dasmotos:hover {
	background-image: url("../images/dasmotos.jpeg");
	background-size: cover;
}

.dasmotos:hover:after {
	content: "   (Unit 1)";
}

.excursion:hover {
	background-image: url('../images/excursion.jpg');
	background-size: cover;
}

.broadway:hover{
	background-image: url('../images/broadway.png');
	background-size: cover;
}

.mytimes:hover{
	background-image: url('../images/mytimes.png');
	background-size: cover;
}

.teacozy:hover {
	background-image: url('../images/teacozy.jpg');
	background-size: cover;
}

.secret-agent:hover {
	background-image: url('../images/moto.jpeg');
	background-size: cover;
	color: #db5561;
}

.tortoiseshell:hover {
	background-image: url('../images/tortoiseshell.png');
	background-size: cover;
	color: #db5561;
	text-shadow: 2px 2px 4px #000000;
}

@media screen and (min-width: 700px) {
	
	section a {
	   width: 45%;
	   padding: 40px 0;
	   text-decoration: none;
	   font-size: 30px;
	   border: black solid 4px;
	   margin-right: 8px;
	   margin-top: 10px;
   }

   section {
	   flex-wrap: wrap;
	   flex-direction: row;
	   width: 90%;
   }
}

@media screen and (min-width: 1100px) {
	section a {
		width: 25%;
		padding: 40px;
	}
}












