body {
	margin: 30px;
	background: #e0fff7;
}


h1 {
	text-align: center;
    margin: ;
	background: #9ceaed;
	font-size: 370%;
	padding: 100px;
}

/* background-image: url('../images/pattern.jpg'); */

section {
	margin: 10px;
}
 section a {
 	display: block;
 	text-align: center;
 	text-decoration: none;
 	background: #9ceaed;
 	border: black solid 2px;
	margin-top: 10px;
	font-size: 180%;
	padding: 15%;
	color: black;
 }



.dasmotos {
	background-image: url("../images/dasmotos.jpeg");
	background-size: cover;
}

.excursion {
	background-image: url('../images/excursion.jpg');
	background-size: cover;
}

.broadway {
	background-image: url('../images/broadway.png');
	background-size: cover;
}

.mytimes {
	background-image: url('../images/mytimes.png');
	background-size: cover;
	color: white;
}


section a:hover {
	opacity: .7;
} 

@media screen and (min-width: 900px) {
	section a {
	   display: inline-block;
	   width: 25%;
	   padding: 40px;
	   text-decoration: none;
	   font-size: 30px;
	   border: black solid 4px;
	   margin-right: 8px;
	   margin-top: 10px;
   }
}












